wordle span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 3px;
  background-color: lightgray;
  font-size: large;
}
/*
#answer-div {
  padding-top: 15px;
  padding-bottom: 15px;
}
*/

span.message {
  background-color: transparent;
  width: 600px;
}

span.inAnswer {
    background-color: orange;
}

span.correct {
    background-color: lightgreen;
}

#give-up-btn {
  margin-top: 20px;
}